// ==========================================================================
// Main
// ==========================================================================
//
//block__element--modifier(bem)
//
//li__item--highlight example

.container{
  max-width: em(1000px);
  margin: 0 auto;
  padding: 0 em(15px) em(50px) em(15px);
}
.site-logo {
  margin-bottom: 2em;
  @include img-replace("logo.svg", 115px, 45px, inline-block);
}

.btn,
.progbar,
.tooltips{
	@include bg-colors($ui-colors);
}

.icn-toggle {
	width: 25px;
	height: 17px;
	position: absolute;
	border-top: solid 3px palette(grey);
	border-bottom: solid 3px palette(grey);
	@include p-el(before, 25px, 3px){
	background: palette(grey, light);
	top:4px;
	}
	display:none;
}