// ==========================================================================
// grid display
// ==========================================================================


.is-display-mobile{
	@include mq(small){
		display: block;

	//allows to nest the rule to not 
		@at-root (with: media){
			.is-hidden-mobile {
				display: none;
			}
		}
	}
	@include mq(medium){
		display: none;
	}
}