// ==========================================================================
// Functions
// ==========================================================================

// Import if Google Fonts URL is defined

@if variable-exists(font-url--google){
	@import url($font-url--google);
}

// Functions and Directives
//$context: $base__font-size = basefont size is defualt if no context
@function em($target, $context: $base__font-size){
	@return ($target/$context) * 1em;
}

//call color palette modifiers
//map-get(map-get($palettes, grey), x-dark);
@function palette($palette, $shade: 'base'){
	@return map-get(map-get($palettes, $palette), $shade);
}

//Set context for fuid width
@function g-context($g-col-width, $g-col-count, $g-gutter-width){
	//total width * the total number of col then add the total gutter width 
	//gutter is usually one less than the col count
	$g-context: ($g-col-width * $g-col-count) + ($g-gutter-width * ($g-col-count - 1));
	@return $g-context;
}