// ==========================================================================
// Grid Columns
// ==========================================================================


//Cacl grid columns - loop
.grid__col{
	@include mq(medium){
		@include g-columns;
	}
}

//col styles
//target classes that start with""
[class^="grid__col--"] {
	@include mq(small)  {
		margin-top: em(12px);
		margin-bottom: em(12px);
	}
	@include mq(medium) {
		//adds margin left to all but the first element
		@include doubly(percentage($g-gutter-width / $context));
		float:left;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		&:last-of-type {
			float: right;
		}
	}
}