// ==========================================================================
// Extends
// ==========================================================================

// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  text-transform: uppercase;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

// Nav Items

  %nav-item-disp{
    display:inline-block;
    margin:0 em(12px);

      @include mq(small){
      display:block;
      margin:0 em(12px);
      }
  }

  %nav-item-link{
    font-size: em(18px);
    font-weight: $font-weight--light;
    display: block;
    padding: em(8px, 18px);
    border-bottom: 1px solid transparent;

    @include mq(small){
      display: block;
      padding: em(12px, 14px);
      border-bottom: 1px solid palette(grey, x-light);
    }
  }

  %nav-item-on{
    color:palette(black);
    border-color: $primary-color;
  }
 

//headlines

%hdln-prim{
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
  font-size: em(42px);
  //desired line height divided by font size in px
  line-height: (46px / 42px);
  //desired margine in px / font size of h1
  margin-bottom: em(70px, 42px);
  //using map get function twice to get nested value
  //map-get(map-get($palettes, grey), x-dark);
  color: palette(grey, x-dark);
  margin-top:0;
}

%hdln-sec{
  font-family: $font-family--secondary;
  font-weight: $font-weight--thin;
  font-size: em(24px);
  color: palette(grey, light);
  letter-spacing: $letter-space;
}




